# Node.js (for server-side)
node_modules/
npm-debug.log
yarn-error.log
package-lock
# Logs
logs/
*.log

# Environment files
.env

# Server build directory (if applicable)
server/build/

# Database files
*.db
